@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rancho&display=swap');

$primary-color: rgb(251, 3, 102);
$secondary-color:  rgb(92, 3, 86);
$light: #f0f0f0;
$dark: rgb(29, 2, 27);
$green:  rgb(4, 181, 57);
$dark-green:  rgb(1, 68, 21);
$green-text:  rgb(3, 31, 11);
$primary-font: 'quicksand', sans-serif;
$secondary-font: 'rancho', sans-serif;