.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        background: linear-gradient(90deg, #c50177, #009b2c, #c91201, #00609b, #500c03);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    a {
        text-decoration: none;
        color: #f0f0f0;
        margin-top: 10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }

    h2 {
        text-align: center;
        font-size: 1.8rem;
        margin: 10px 0 20px 0;
    }

    h3 {
        margin : 0;
        text-align: center;
    }

    .dp {
        border-radius: 50%;
        object-fit: cover;
    }

    .card {
        height: 400px;
        width: 300px;
        padding: 20px;
        border-radius: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #f0f0f0;
    }
}