.section {
  width: 100%;
  min-height: 100%;
  padding: 100px 5% 80px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f0f0; // keeps the same deep tone as your site
  color: #0f0d0d;

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    background: linear-gradient(90deg, #c50177, #009b2c, #c91201, #00609b, #500c03);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  article {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

      img {
        max-width: 300px;
        max-height: 300px;
        margin-top: 10px;
        border-radius: 10px;
      }

      p {
        text-align: center;
      }
    }
  }

@media (max-width: 1024px) {
  .section {
    h1 {
      font-size: 2.5rem;
    }

    img {
      width: 260px;
      height: 180px;
    }
  }
}

